@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline-color: oklch(var(--p));
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 1rem;
  border: 0.15rem solid transparent;
  background-clip: padding-box;
  &:hover {
    border: 0;
  }
}
progress::-webkit-progress-value {
  transition: width 300ms;
}
a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 1.5rem;
  vertical-align: middle;
  user-select: none;
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .rounded-outward {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: var(--rounded-box);
      height: var(--rounded-box);
      pointer-events: none;
    }
  }
  .focused-store {
    @apply shadow-base-content/50 shadow-lg transition-shadow;
  }
  .focused-tree-store {
    @apply transition-shadow;
    box-shadow: 0 0 0 0.25rem oklch(var(--bc)/0.5) inset;
  }
}

/* daisyui */

html:not([data-theme="light"]) {
  & #explorer {
    background: linear-gradient(to bottom, oklch(var(--p) / 25%), transparent),
      radial-gradient(
        ellipse at bottom left,
        oklch(var(--s) / 25%),
        transparent
      ),
      radial-gradient(
        ellipse at bottom right,
        oklch(var(--a) / 25%),
        transparent
      );
  }
  & #search-results,
  & #uploads,
  & #navbar-explorer {
    @apply bg-base-100/75 backdrop-blur-xl;
  }
}

/* vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms !important;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0 !important;
}
.items-move,
.items-enter-active,
.items-leave-active {
  transition:
    opacity 300ms,
    transform 300ms;
}
.view-changed > .items-move {
  transition-duration: 600ms;
}
.items-enter-from {
  opacity: 0;
  transform: translateY(-3rem);
}
.items-leave-active {
  display: none;
}
.slide-down-enter-active,
.slide-down-leave-active {
  pointer-events: none;
  transition:
    opacity 300ms,
    transform 300ms;
}
.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-0.5rem);
}
